 <div class="name">
        E-MART
</div>
     <div class="header">
        <nav>
            <ul>
                <li><a href="#aboutus">AboutUs</a></li>
                <li><a href="#contactus">Contact us</a></li>
                <li><a href="#team">Team</a></li>
            </ul>
        </nav>
    </div>