<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="css/signin.css">
   
</head>
<body>
    <div class="form-box">
        <div class="button-box">
            <div id="btn" ></div>
            <button type="button" class="toggle-btn" onclick="login()">login</button>
            <button type="button" class="toggle-btn" onclick="signup()">signup</button>
        </div>
        <form id="login" class="input-group" method="get" action="/products">
                <div class="info-1">
                <input type="email" placeholder="Email" required name="email"> </br>
                <input type="password" placeholder="Password" required name="password"> </br>
                <button type="submit" class="submit-btn">login</button>
                </div>
        </form>
        <form id="signup" class="input-group" method="post" action="/">
            <div class="info-1">
            <input type="text" placeholder="Name" name="name" required> </br>
            <input type="email" placeholder="Email" name="email" required> </br>
            <input type="password" placeholder="Password" name="password" required > </br>
            <input type="password" placeholder="Confirm Password" name="confirmpassword" required > </br>
            <button type="submit" class="submit-btn">signup</button>
            </div>
    </form>
    </div>
    <script>

        var x= document.getElementById("login")
        var y= document.getElementById("signup")
        var z= document.getElementById("btn")

function login(){
    x.style.left = "50px";
    y.style.left = "450px";
    z.style.left = "0px";

}
function signup(){
    x.style.left = "-400px";
    y.style.left = "50px";
    z.style.left = "110px";

}
    </script>

   
    
</body>
</html>
